<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Home</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia&effect=fire">
</head>

<style>
    @import "https://fonts.googleapis.com/css?family=Rancho&effect=fire-animation";

    section {
    font-family: 'Rancho', 'sans-serif';
    font-size: 60px;
    margin-left: 350px;
    padding: 65px;
    text-align: center;
    }
    
</style>
<body style="background-color: #FFF0F5;">


	<nav class="navbar navbar-expand-lg" style="background-color: #DCDCDC;">
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					 <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/287295497_1373353583146517_244306389109370417_n.png?_nc_cat=107&ccb=1-7&_nc_sid=aee45a&_nc_ohc=XOwdY9m54ycAX9m9asz&_nc_oc=AQk7Gh00kdCArhWlIqKklLI2GiTFC7MiH6Q2KjUELjvcN7oPPxCsRmk84c2GVi7Z_PkrgEwUpyZpyNgH7R8qj4aq&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AVLfZen0-2s-UgI9Kq_lzX4J7z32kiDxUyB6AlPXetrfiA&oe=62DF03A0" width="180" height="180" style="margin-left: 50px;">
				</li>
				<li>
					<section class="font-effect-fire-animation">ATN Toys</section>
				</li>
        <li class="nav-item" style="margin-left: 250px;">
					 <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/287295497_1373353583146517_244306389109370417_n.png?_nc_cat=107&ccb=1-7&_nc_sid=aee45a&_nc_ohc=XOwdY9m54ycAX9m9asz&_nc_oc=AQk7Gh00kdCArhWlIqKklLI2GiTFC7MiH6Q2KjUELjvcN7oPPxCsRmk84c2GVi7Z_PkrgEwUpyZpyNgH7R8qj4aq&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AVLfZen0-2s-UgI9Kq_lzX4J7z32kiDxUyB6AlPXetrfiA&oe=62DF03A0" width="180" height="180" style="margin-left: 50px;">
				</li>
			</ul>
		</div>
	</nav>

	<nav class="navbar navbar-expand-lg" style="background-color:  #ff006a;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/" style="color: white; font-size: 25px; margin-left: 200px;">Home</a>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/create" style="color: white; font-size: 25px; margin-left: 50px;">Add Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/viewAll" style="color: white; font-size: 25px;margin-left: 50px;">View All Product</a>
        </li>
      </ul>
      <form class="d-flex" role="search" style="margin-right: 270px;">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
    
    

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>

